<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- <properties resource="config/config.properties">
        <property name="username" value="dev_user" />
        <property name="password" value="F2Fa3!33TYyg" />
    </properties> -->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 所有的方法都会加载该对象所有的属性-->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!--<setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>-->

    </settings>
    <typeAliases>
        <package name="com.pactera.spring.model"/>
    </typeAliases>

</configuration>