<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.pactera.spring.mapper.ManagerMapper">
    <insert id="insertEmp" parameterType="com.pactera.spring.model.Emp">
        insert into emp (name,gender,age)
        values
       
        (#{name},#{gender},#{age})
       
    </insert>
    <insert id="insertEmpList" parameterType="com.pactera.spring.model.Emp">
        insert into emp (name,gender,age)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.name},#{item.gender},#{item.age})
        </foreach>
    </insert>

    <select id="selectById" parameterType="int" resultType="com.pactera.spring.model.Emp">
        SELECT id,name,gender,age FROM emp WHERE id=#{id}
    </select>
    <select id="selectAll" resultType="com.pactera.spring.model.Emp">
        SELECT id,name,gender,age FROM emp  limit 3
    </select>
</mapper>